Binaries
DerivatedDataCache
Intermediate
Saved
Build
Content/ElementalsBundle
Content/Vefects
Content/ArrowTrail
Content/DemonHandShield

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace