Binaries
DerivatedDataCache
Intermediate
Saved
Build
Content/__ExternalActors__
Content/__ExternalObjects__
Content/ArrowTrail
Content/DemonHandShield
Content/ElementalsBundle
Content/Free_Magic
Content/Vefects

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace